@import "tailwindcss";


.card{
  position: relative;
  height: 500px;
  width: 550px;
  background: rgba(0, 0, 0, 0.45);
  /* clip-path: path("M 10,20 L 60,20 A 10,10 0,0,0 70,10 L 70,10 A 10,10 0,0,1 80,0 L 140,0 A 10,10 0,0,1 150,10 L 150,190 A 10,10 0,0,1 140,200 L 10,200 A 10,10 0,0,1 0,190 L 0,30 A 10,10 0,0,1 10,20 Z"); */
  clip-path :path("M 60,0 L 490,0 A 10,10 0,0,1 550,70 L 550,340 L 490,390 L 355,390 L 300,420 L 310,460 L 285,500 L 71,500 A 10,10 0,0,1 71,360 L 170,360 A 10,10 0,0,0 170,250 L 60,250 A 10,10 0,0,0 0,200 L 0,70 A 10,10 0,0,0 60,0 Z")
}
